/* 
  функция генератор колонок
  свойство показывает сколько колонок занимет данные селектор
  например: 
      col_md-4 - элемент займет 4 колонки на десктопе (1/3 часть)
      col_xs-12 - элемент займет 12 колонок на мобилках(100%)
      col_sm-6 - элемент займет 6 колонок на планшетах(половину)

  @infix - устройство
  @n - общее кол-во колонок
  @padding - внутренние отсупы
  @i - итерируемый элемент(кастомная реализация loop в less посредством рекурсии)
*/
/* 
  контейнер для строки
  обязательный контейнер для колонок


*/
.row {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 599px) {
  .row {
    margin-left: -4px;
    margin-right: -4px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
}
@media screen and (min-width: 1024px) {
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
}
/* 
  генерация колонок
  колонки указываются только в строках(.row)
  @infix устройство на котором будет приминено данной свойство
  md - по дефолту либо дектопы
  sm - планшеты
  xs - мобилки
*/
.col_md-12 {
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-11 {
  width: 91.66666667%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-10 {
  width: 83.33333333%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-9 {
  width: 75%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-8 {
  width: 66.66666667%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-7 {
  width: 58.33333333%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-6 {
  width: 50%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-5 {
  width: 41.66666667%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-4 {
  width: 33.33333333%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-3 {
  width: 25%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-2 {
  width: 16.66666667%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
.col_md-1 {
  width: 8.33333333%;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-bottom: 24px;
}
@media screen and (max-width: 599px) {
  .col_xs-12 {
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-11 {
    width: 91.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-10 {
    width: 83.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-9 {
    width: 75%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-8 {
    width: 66.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-7 {
    width: 58.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-6 {
    width: 50%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-5 {
    width: 41.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-4 {
    width: 33.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-3 {
    width: 25%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-2 {
    width: 16.66666667%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_xs-1 {
    width: 8.33333333%;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
}
@media (min-width: 600px) and (max-width: 1023px) {
  .col_sm-12 {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-11 {
    width: 91.66666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-10 {
    width: 83.33333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-9 {
    width: 75%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-8 {
    width: 66.66666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-7 {
    width: 58.33333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-6 {
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-5 {
    width: 41.66666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-4 {
    width: 33.33333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-3 {
    width: 25%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-2 {
    width: 16.66666667%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_sm-1 {
    width: 8.33333333%;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1024px) {
  .col_md-12 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-11 {
    width: 91.66666667%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-10 {
    width: 83.33333333%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-9 {
    width: 75%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-8 {
    width: 66.66666667%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-7 {
    width: 58.33333333%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-6 {
    width: 50%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-5 {
    width: 41.66666667%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-4 {
    width: 33.33333333%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-3 {
    width: 25%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-2 {
    width: 16.66666667%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
  .col_md-1 {
    width: 8.33333333%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    margin-bottom: 24px;
  }
}
