.header {
  background-color: var(--base-01);
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.12));
}
.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.logo {
  display: block;
  height: 34px;
  width: 150px;
  margin-right: 48px;
  background-image: url('https://www.cdn-tinkoff.ru/frontend-libraries/pfcore-static-assets/logos/main-logo.svg');
}
.navigation {
  flex: 1 0;
  height: 64px;
}
.navigation__list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}
@media screen and (max-width: 599px) {
  .navigation__list {
    flex-flow: column nowrap;
    visibility: hidden;
  }
}
.navigation__link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 24px;
}
.navigation__link:last-child {
  margin-right: 0;
}
.navigation__link a {
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: var(--text-02);
}
.navigation__link a:hover {
  transition: color 0.3s 0s ease-in-out;
  color: var(--text-01);
}
.navigation__link_active {
  box-shadow: inset 0px -2px 0px 0 var(--base-05);
}
.navigation__link_active a {
  color: var(--text-01);
}
.login {
  display: flex;
  align-items: center;
  height: 100%;
}
.login-btn {
  display: flex;
  align-items: center;
  padding: 0;
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.login-btn__name {
  margin-right: 10px;
  color: var(--text-link);
  transition: color 2s 0s ease-in-out;
}
.login-btn__icon {
  display: flex;
}
.login-btn__icon svg {
  fill: var(--text-link);
  transition: fill 2s 0s ease-in-out;
}
.login-btn:hover .login-btn__name {
  color: black;
}
.login-btn:hover .login-btn__icon svg {
  fill: black;
}
